<div class="page-container">
  <div class="cards">

    <div class="home-card">
      <h1>Edit your comment</h1>

      <%= render "form", comment: @comment %>

      <%= link_to "Back", root_path, class: "btn-edit"%>
    </div>
  </div>
</div>
