#eventsContainer {
  height: 600px;
  background-color: #f9fcfb;
  position: relative;
}

.event {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    font-size: 25px;
    text-decoration-style: none;
    color: black;
  }
}

#h1List {
  color: white;
  text-align: center;
}

.rotated {
  writing-mode: tb-rl;
  transform: rotate(-180deg);
}
