.event-show-card {
  border-radius: 20px;
  border: 2px solid;
  box-sizing: border-box;
  background-color: #FFFFFF;
  padding: 30px;
}

.event-show-card, h2{
  font-weight: 300;
}

.marg-b{
  margin-bottom: 30px;
}

.form-control {
  font-weight: 400;
  border-radius: 50px;
}

.comment-sr {

.btn-primary {
  color: black;
  border-radius: 50px;
  border: 2px solid;
  background: white;
  text-decoration: none;
 }
 .btn-primary:hover {
  background: red;
  color: black;
  border: 2px solid;
}
.btn-primary:visited {
  background: #ffbfbf;
  color: black;
  border: 2px solid;
}
.btn-primary:active {
  background: #ffbfbf;
  color: black;
  border: 2px solid;
}
}



#song_request_song_file{
  // border-radius: 50px;
}

#song-upload {
  border-radius: 30px;
  border-color: black;
  border-width:2px;
}

.file-submit{
  border-radius: 30px;
  border-color: black;
  border-width:2px;
}

.card-form{
  border-color: black;
  border: 2px ;
  background-color: lightgrey;
  border-radius: 30px;
  padding: 20px;

}

.sr{
  border-bottom: .4rem dashed lightgrey;
  padding-bottom: 20px;
  margin-top: 15px;
}

.sr-header{
  margin-bottom: 20px;

}

.video-styling{
  width: 50%;
  height: 50px;
  border: 1px solid black;
  border-radius: 30px;
  margin-top: 15px;
}

#h3inline{
  display: inline;
  margin-bottom: 20px;

}

.edit-delete{
  margin-left: 20px;
}

.btn-edit{
  border-radius: 30px;
  border-color: black;
  border-width:2px;
}

.no-underline {
  font-weight: 600;
}

.no-underline:hover {
  text-decoration: none;
}

#event-username{
  a{
  color: black;
  }
}

.answer-form{
  width: 300px;
}

.solved{
  float: right;
  margin-right: 100px;
}
