#eventsContainer {
  height: 600px;
  background-color: #f9fcfb;
  position: relative;
}

.event {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    font-size: 25px;
    text-decoration: none;
    color: black;
    &:hover {
      color: red;
      transform: scale(1.2);
    }
  }
  a.rotated:hover {
    transform: rotate(-90deg) scale(1.2);
  }

}

#h1List {
  color: white;
  text-align: center;
}

.rotated {
  transform: rotate(-90deg);
}
