.event-show-card {
  border-radius: 20px;
  border: 2px solid;
  box-sizing: border-box;
  background-color: #FFFFFF;
  padding: 30px;
}

.event-show-card, h2{
  font-weight: 300;
}

.marg-b{
  margin-bottom: 30px;
}

.form-control {
  font-weight: 400;
  border-radius: 50px;
}

#song_request_song_file{
  // border-radius: 50px;
}

#song-upload {
  border-radius: 30px;

}
