// Specific CSS for your home-page


.header {
  letter-spacing: 1.5px;
  margin-bottom: 10px;

}
.logo {
  width: 40%;
  margin-bottom: 15px;
}

.cards{
  background-color: black;

}

.cards, p {
  font-size: 20px;

}

.home-card{
  border-radius: 20px;
  border: 2px solid;
  box-sizing: border-box;
  background: #FFFFFF;
  padding: 30px;
  height: 300px;

}

.search-bar {
    display: block;
    background: white;
    border-radius: 50px;
    border-width: 1px;
    border-color: black;
    // max-width: 700px;
    padding-left: 15px;
    font-weight: 300;
    width: 100%;

}
