.cards-create {
  overflow: auto;
}

.original-request {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  margin-top: 30px;

}

div.area-sr {
  a{
    line-height: 4;
  }
  :hover{
      color: red;
  }
}

div.title {
  font-style: bold;
  font-size: 30px;
  padding: 10px;
}

.title-text{
    margin-left: 100px;
    text-align: center;
}
