.cards-create {
  overflow: auto;
}

.original-request {
  display: grid;
  width: 100%;
  grid-template-columns: 500px 1fr;
  margin-top: 30px;

}

div.area-sr {

  padding: 10px;
}
div.title {
  // margin-left: 100px;
  font-style: bold;
  font-size: 30px;
  padding: 10px;
}

