.ul{
  font-size: 14px;

.header {
  letter-spacing: 1.5px;
  margin-bottom: 10px;

}
.logo_p {
  width: 40%;
  margin-bottom: 15px;
}


.main-card {

  display: flex;
  flex-direction: column;
  flex-position: flex-start;
  font-size: 18px;
  border-radius: 20px;
  border: 2px solid;
  box-sizing: border-box;
  background: #FFFFFF;
  padding: 20px;
  // height: 300px;
}


