<div class='container'>

  <div class="cards">
    <div class="home-card">
      <h2>Edit your post</h2>

    <%= render "form", song_request: @song_request %>

    <%= link_to "Back", root_path, class:"btn-edit"%>
    </div>
  </div>
</div>
