<div class="page-container">
  <div class="cards">
      <div class="event-show-card">
        <h1 class="inputsr"> <strong><%= @song_request.input %></strong></h1>
        <h2 class="infossr">  Recorded at <strong><%= link_to @song_request.event.name, event_path(@song_request.event) %></strong>, <%= @song_request.event.location %></h2>
        <ul>
         <%= render partial: 'comments/comment', collection: @song_request.comments.sort_by{|co| co.get_upvotes.size}.reverse %>
        </ul>
    </div>
  </div>
</div>
