<div class="container" data-events="<%= @events.map {|e| {name: e.name, link: event_path(e)}}.to_json %>">
  <div class="background-card">
    <h1 id="h1List">Events</h1>
    <div class="cards-create" id="eventsContainer" >
    </div>
  </div>
  <%= link_to "Add a new event", new_event_path, class: "btn btn-add"%>
</div>


<%= javascript_pack_tag "displayEvents"  %>
