  <p>Current/Past Events</p>
    <div class="cards">
      <% @events.each do |event| %>
        <li><%= link_to event.name,  event_path(event) %> -
          <%= link_to "delete", event_path(event), method: :delete  %>
        </li>
    <% end %>
  </div>

<%= link_to "Add a new event", new_event_path %>

