<div class="page-container">
  <div class="background-card">
    <div class="cards-create">
          <h1 id= "h1create">CREATE A NEW EVENT</h1>
            <%= render 'form', event: @event %>
      <%= link_to "Back", root_path, class: "btn btn-back" %>
    </div>

  </div>
</div>
