<div class="page-container">
  <div class="cards">
    <div class="home-card">
      <%= image_tag "ANY1logo.png", alt:"logo", class: 'logo'%>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>

    <div class="home-card">
      <%= form_tag events_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "btn-search",
        placeholder: "Search for an event"%>

       <!--  <%= submit_tag "Search", class: "" %>
        <% end %> -->
      <br>
    </div>
  </div>
</div>

