<div class="container">
  <h1>Library</h1>


  <h2>All requests that found a match:</h2>


  <% @song_requests.each do |sr| %>
  <li><%= sr.event.name %> - <%= link_to sr.input, event_path(sr.event) %>
      <%= sr.top_comment.input %>
  </li>
  <% end %>
</div>
