.infossr {
margin-bottom: 80px;
}

.comment-box {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.comment-left {
  display: flex;
  border-radius: 50px;
  padding: 10px;
  height: 50px;
  width: 50px;
  border: 2px solid;
  border-color: black;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  position: relative;
  color: black;
}

.like-btn {
  .likes-count {
    position: relative;
    padding-bottom: 8px;
    font-weight: bold;
  }
}

.comment-right {
background: #ffbfbf;
min-width: 100%;
border-radius: 50px;
border: 3px solid;
justify-content: center;
padding: 20px ;
margin-bottom: 50px;
h3 {
  font-size: 23px;
}
}

.comment-details {
  display: flex;
  float: right;
  align-item: flex-end;
  background: white;
  margin-bottom: -15px;
  p {
    font-size: 10px;
  }
}

.comment-details-author {
  display: flex;
  align-item: flex-end;
  background-color: #ffbfbf;
}


.comment-answer {
  background: #ffbfbf;
  float: right;
  width: 70%;
  margin-bottom: 10px;
.btn-primary {
  align-item: flex-end;
  float: right;
  color: black;
  border-radius: 50px;
  border: 2px solid;
  background: #ffbfbf;
  text-decoration: none;
 }
 .btn-primary:hover {
  background: red;
  color: black;
  border: 2px solid;
}
.btn-primary:visited {
  background: #ffbfbf;
  color: black;
  border: 2px solid;
}
.btn-primary:active {
  background: #ffbfbf;
  color: black;
  border: 2px solid;
}
}

.small_line {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.comment-links {
display: flex;
float: right;
margin-bottom: -10px;
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: red;
}
.span3 {
  margin-right: 3px;
  p {
    font-size: 10px;
  }
}
.span4 {
  margin-right: 3px;
  p {
    font-size: 10px;
  }
  p:hover {
    color: red
  }
}
}

.span1 {
  margin-right: 3px;
}
.span2 {
  margin-right: 3px;
}

#color{
  background-color: #ffbfbf;
}

.video{
  display: block;
  text-align: center;
}
.small_size{
  width: 50%;
  height: 50px;
  margin: 0 auto;

}

.btn-edit {
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-radius: 50px;
    border: 3px solid black;
    font-size: 20px;
    color: black;
    background: white;
    text-decoration: none;
    transition: background-color 0.5s ease;
    width: 150px;
}

.btn-edit:hover {
  color: white;
  background: #fe0000;
  text-decoration: none;
}
#new-comment{
  border: 1px solid rgba(0, 0, 0, 0.125)
}
// .collapse{
//   border: 1px solid rgba(0, 0, 0, 0.125);
//   padding-left: 10px;

// }

