.infossr {
margin-bottom: 80px;
}

.comment-box {
  display: flex;
  justify-content: space-around;
  width: 90%;
}

.comment-left {
  display: flex;
  background: white;
  border-radius: 50px;
  padding: 10px;
  height: 70px;
  width: 70px;
  border: 3px solid;
  margin-right: 10px;
  justify-content: center;
  align-items: center;

  p {
    font-size: 20px
  }

}

.comment-right {
background: #ffbfbf;
width: 100%;
border-radius: 50px;
border: 3px solid;
justify-content: center;
padding: 20px ;
margin-bottom: 50px;
h3 {
  font-size: 23px;
}
}

.comment-details {
  display: flex;
  float: right;
  align-item: flex-end;
  background: white;
  p {
    font-size: 10px;
  }
}

.comment-details-author {
  display: flex;
  align-item: flex-end;
}


.comment-answer {
  background: white;
  float: right;
.btn-primary {
  align-item: flex-end;
  float: right;
  color: black;
  border-radius: 50px;
  border: 2px solid;
  background: white;
  text-decoration: none;
 }
 .btn-primary:hover {
  background: red;
  color: white;
  border: 2px solid;
}
.btn-primary:visited {
  background: white;
  color: black;
  border: 2px solid;
}
.btn-primary:active {
  background: white;
  color: black;
  border: 2px solid;
}
}

.small_line {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end
}

.comment-links {
display: flex;
float: right;
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: red;
}
.span3 {
  margin-right: 3px;
  p {
    font-size: 10px;
  }
}
.span4 {
  margin-right: 3px;
  p {
    font-size: 10px;
  }
  p:hover {
    color: red
  }
}
}


.span1 {
  margin-right: 3px;
}
.span2 {
  margin-right: 3px;
}


